@page "/currency/list"
@using Microsoft.EntityFrameworkCore
@using WareHouse.DataAccess.Data
@using WareHouse.Helper
@using WareHouse.Models.CurrenciesPrice
@using WareHouse.Services.IServices
@using WareHouse.Utilities
@inject ApplicationDbContext _db
@inject IBaseConfigService _IBaseConfigService
@inject NavigationManager _NavigationManager
@inject IJSRuntime _JsRunTime

<div class="container-fluid mb-3 shadow p-3 bg-light align-content-center">
    <div class="row">
        <div class="col-9 text-start">
            <span class="text-info">
                <a href="/currency/create" class="btn btn-secondary">
                    اضافه کردن ویژگی
                </a>
            </span>
        </div>
        <div class="col-3 text-end text-dark h4">
            <span class="text-dark">
                لیست ویژگی ها
            </span>
        </div>
    </div>
</div>
<div class="row justify-content-start">
    <span class="text-info">
        ارز پایه : @CurrencyPriceBase.Type
    </span>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">نام</th>
            <th scope="col">ارزش</th>
            <th scope="col">تغییر</th>
            <th scope="col">حذف</th>
            <th scope="col">تغییر ارز پایه</th>

        </tr>
    </thead>
    <tbody>
        @if (currencies.Count() != 0)
        {
            @foreach (var item in currencies)
            {
                <tr>
                    <td>@item.Type</td>
                    <td>@item.BaseCurrencyValue</td>

                    @if (item.Id != CurrencyPriceBase.Id)
                    {
                        <td>
                            <a href="/currency/Edit/@item.Id" class="btn btn-outline-info">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                                </svg>
                            </a>
                        </td>
                        <td>
                            <button @onclick="() =>DeleteCurrency(item.Id)" class="btn btn-outline-info">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                                </svg>
                            </button>
                        </td>
                         <td>
                        <button @onclick="() =>SetToDefultCurrency(item.Id)" class="btn btn-outline-info">
                            تبدیل ارز پایه
                        </button>
                    </td>

                    }
                    else
                    {
                        <td></td>
                        <td></td>
                        <td></td>
                    }
                   
                </tr>
            }
        }
        else
        {
            <span class="text-danger h2 text-center">موجود نیست</span>
        }
    </tbody>
</table>


@code {
    private List<CurrencyPrice> currencies = new List<CurrencyPrice>();
    private CurrencyPrice CurrencyPriceBase { get; set; } = new CurrencyPrice();

    protected override async Task OnInitializedAsync()
    {
        currencies = _db.CurrenciesPrice.ToList();
        CurrencyPriceBase = _db.BaseSettings.
                Include(item => item.CurrencyPriceBase).
                Take(1).
                Select(item => item.CurrencyPriceBase).
                ToList()[0];
        await Task.Delay(100);
    }
    private async Task DeleteCurrency(int id)
    {
        try
        {
            var currency = _db.CurrenciesPrice.FirstOrDefault(item => item.Id == id);
            CurrencyPriceBase = _db.BaseSettings.
                Take(1).
                Include(item => item.CurrencyPriceBase)
                .Select(item => item.CurrencyPriceBase)
                .ToList()[0];
            bool confrim = await _JsRunTime.InvokeAsync<bool>("confirm", $"ایا از حذف {currency.Type} اطمینان دارید");
            if (!confrim)
            {

            }
            else if (currency == null)
            {
                await _JsRunTime.ToastrError("با موفقیت ثبت نشد");

            }
            else
            {
                _db.CurrenciesPrice.Remove(currency);
                _db.SaveChanges();
                await _JsRunTime.ToastrSuccess("با موفقیت ثبت شد");
                currencies = _db.CurrenciesPrice.ToList();
            }

        }
        catch (Exception e)
        {

            await _JsRunTime.ToastrError("با موفقیت ثبت نشد ");

        }
    }
    private async void SetToDefultCurrency(int id)
    {
        var currencyTarget = _db.CurrenciesPrice.FirstOrDefault(item => item.Id == id);
        var result = _IBaseConfigService.ChangeCurrencyDefult(currencyTarget);
        if (result == Result.Success)
        {
            await _JsRunTime.ToastrSuccess("با موفقیت ثبت شد");
        }
        else if (result == Result.Failure)
        {
            await _JsRunTime.ToastrSuccess("با موفقیت ثبت نشد");
        }
        currencies = _db.CurrenciesPrice.ToList();
        await _JsRunTime.InvokeVoidAsync("location.reload");
    }
}
