
<AuthorizeView>
    <NotAuthorized>
        <a href="Identity/Account/Login">ورود</a>
        <a href="Identity/Account/Register">ثبت نام</a>
    </NotAuthorized>
    <Authorized>
        <a href="Identity/Account/Logout">خروج</a>
    </Authorized>
</AuthorizeView>
    
@code {

}
