<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">انبار داری</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> خانه
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/property/list" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> ویژگی ها
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/currency/list" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> ارزها
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/supplier/list" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> تامین کننده ها
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/matrial/list" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> مواد اولیه
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/user/list" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> کاربران
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/role/list" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Roles
            </NavLink>
        </div>
    </nav>
</div>
@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
