@page "/matrial/list"
@using Microsoft.EntityFrameworkCore
@using WareHouse.Models.RawMaterials
@using WareHouse.Helper
@using WareHouse.Models.ViewModels.RawMaterialVM
@using WareHouse.Services.IServices
@using WareHouse.Utilities

@inject IJSRuntime _JsRuntime
@inject ApplicationDbContext _db
@inject IRawMaterialService _RawMaterialService
<!-- title and create button -->
<div class="container bg-light border rounded shadow py-3 align-content-center">
    <div class="row justify-content-between">
        <div class="col-9">
            <a href="/matrial/create" class="btn btn-secondary px-4 ">ایجاد</a>
        </div>
        <div class="col-3 text-center">
            <h2 class="text-info">لیست مواد اولیه</h2>
        </div>
    </div>
</div>
<!-- table -->
<div class="row mt-5 justify-content-center">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">عدد شناسایی محصول</th>
                <th scope="col">تعداد</th>
                <th scope="col">تامیین کننده</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in RawMatrials)
            {
                <tr>

                    <td scope="row">@item.RawMaterial.PartNumber</td>
                    <td scope='row' class="@(item.RawMaterial.NumberOfMaterial < item.RawMaterial.Limit ? "text-danger" : "text-success")">@item.RawMaterial.NumberOfMaterial</td>
                    <td scope="row">@item.NameSupplier</td>
                    <td>
                        <a href="matrial/show/@item.RawMaterial.Id" class="btn btn-outline-info">نمایش</a>
                    </td>
                    <td>
                        <a href="/matrial/Edit/@item.RawMaterial.Id" class="btn btn-outline-success">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                            </svg>
                        </a>
                    </td>
                    <td>
                        <button @onclick="() =>Deletematrial(item.RawMaterial.Id)" class="btn btn-outline-info">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                            </svg>
                        </button>
                    </td>

                </tr>

            }
        </tbody>
    </table>
</div>

@code {
    private List<RawMaterialListVM> RawMatrials { get; set; } = new List<RawMaterialListVM>();
    protected async override Task OnInitializedAsync()
    {
        RawMatrials = _RawMaterialService.GetRawMaterials();
        await Task.Delay(10);
    }
    private async void Deletematrial(int id)
    {
        var result = await _RawMaterialService.DeleteRawMaterial(id);
        if (result == Result.Failure)
        {
            await _JsRuntime.ToastrError("خطا در عمل حذف");
        }
        else
        {
            await _JsRuntime.ToastrSuccess("با موفقیت حذف شد");
        }
        RawMatrials = _RawMaterialService.GetRawMaterials();
        StateHasChanged();
    }
}
